.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B75CB;
  width: 60%;
  border-radius: 10px;
  padding: 1rem 1rem;
  color: #ffff;
  font-weight: 700;
  margin-bottom: 4rem;
}

.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6EDF0;
  width: 60%;
  border-radius: 10px;
  padding: 2rem 1rem;
  font-weight: 600;
}